<form class="catalog__form-filter" action="">
  <fieldset>
    <div class="catalog__fieldset-wrap catalog__fieldset-wrap--nojs">
      <div class="catalog__legend-wrap">
        <legend>Тип жилья</legend>
        <button class="catalog__filter-toggle" type="button">
          <span class="visually-hidden">Открыть вкладку</span>
        </button>
      </div>
      <ul class="catalog__form-list" role="none">
        <li>
          <input type="checkbox" id="type-1" name="type-1">
          <span class="catalog__form-checkbox"></span>
          <label for="type-1">Для индивидуального жилья</label>
        </li>
        <li>
          <input type="checkbox" id="type-2" name="type-2">
          <span class="catalog__form-checkbox"></span>
          <label for="type-2">Для многоквартирного дома</label>
        </li>
        <li>
          <input type="checkbox" id="type-3" name="type-3">
          <span class="catalog__form-checkbox"></span>
          <label for="type-3">Для общественных зданий</label>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset>
    <div class="catalog__fieldset-wrap catalog__fieldset-wrap--nojs">
      <div class="catalog__legend-wrap">
        <legend>Тeхнологии</legend>
        <button class="catalog__filter-toggle" type="button">
          <span class="visually-hidden">Открыть вкладку</span>
        </button>
      </div>
      <ul class="catalog__form-list" role="none">
        <li>
          <input type="checkbox" id="technology-1" name="technology-1">
          <span class="catalog__form-checkbox"></span>
          <label for="technology-1">Акустика</label>
        </li>
        <li>
          <input type="checkbox" id="technology-2" name="technology-2">
          <span class="catalog__form-checkbox"></span>
          <label for="technology-2">Качество воздуха в помещении</label>
        </li>
        <li>
          <input type="checkbox" id="technology-3" name="technology-3">
          <span class="catalog__form-checkbox"></span>
          <label for="technology-3">Рекуперация тепла</label>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset>
    <div class="catalog__fieldset-wrap catalog__fieldset-wrap--nojs">
      <div class="catalog__legend-wrap">
        <legend>Категория оборудования</legend>
      <button class="catalog__filter-toggle" type="button">
        <span class="visually-hidden">Открыть вкладку</span>
      </button>
      </div>
      <ul class="catalog__form-list" role="none">
        <li>
          <input type="checkbox" id="category-1" name="category-1">
          <span class="catalog__form-checkbox"></span>
          <label for="category-1">Приточные устройства</label>
        </li>
        <li>
          <input type="checkbox" id="category-2" name="category-2">
          <span class="catalog__form-checkbox"></span>
          <label for="category-2">Вытяжные устройства</label>
        </li>
        <li>
          <input type="checkbox" id="category-3" name="category-3">
          <span class="catalog__form-checkbox"></span>
          <label for="category-3">Вентиляторы</label>
        </li>
        <li>
          <input type="checkbox" id="category-4" name="category-4">
          <span class="catalog__form-checkbox"></span>
          <label for="category-4">Системы с рекуперацией тепла</label>
        </li>
        <li>
          <input type="checkbox" id="category-5" name="category-5">
          <span class="catalog__form-checkbox"></span>
          <label for="category-5">Системы для общественных зданий</label>
        </li>
        <li>
          <input type="checkbox" id="category-6" name="category-6">
          <span class="catalog__form-checkbox"></span>
          <label for="category-6">Наружные козырьки и каналы притока воздуха</label>
        </li>
        <li>
          <input type="checkbox" id="category-7" name="category-7">
          <span class="catalog__form-checkbox"></span>
          <label for="category-7">Датчики</label>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset>
    <div class="catalog__fieldset-wrap catalog__fieldset-wrap--nojs">
      <div class="catalog__legend-wrap">
        <legend>Система вентиляции</legend>
        <button class="catalog__filter-toggle" type="button">
          <span class="visually-hidden">Открыть вкладку</span>
        </button>
      </div>
      <ul class="catalog__form-list" role="none">
        <li>
          <input type="checkbox" id="system-1" name="system-1">
          <span class="catalog__form-checkbox"></span>
          <label for="system-1">Вытяжные вентиляторы с рекуперацией тепла</label>
        </li>
        <li>
          <input type="checkbox" id="system-2" name="system-2">
          <span class="catalog__form-checkbox"></span>
          <label for="system-2">Гибридная система вентиляции</label>
        </li>
        <li>
          <input type="checkbox" id="system-3" name="system-3">
          <span class="catalog__form-checkbox"></span>
          <label for="system-3">Естественная система вентиляции</label>
        </li>
        <li>
          <input type="checkbox" id="system-4" name="system-4">
          <span class="catalog__form-checkbox"></span>
          <label for="system-4"> Механическая система — индивидуальная</label>
        </li>
        <li>
          <input type="checkbox" id="system-5" name="system-5">
          <span class="catalog__form-checkbox"></span>
          <label for="system-5">Механическая система — общая</label>
        </li>
        <li>
          <input type="checkbox" id="system-6" name="system-6">
          <span class="catalog__form-checkbox"></span>
          <label for="system-6">Системы вентиляции с рекуперацией тепла</label>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset>
    <div class="catalog__fieldset-wrap catalog__fieldset-wrap--nojs">
      <div class="catalog__legend-wrap">
        <legend>Опции контроля</legend>
        <button class="catalog__filter-toggle" type="button">
          <span class="visually-hidden">Открыть вкладку</span>
        </button>
      </div>
      <ul class="catalog__form-list" role="none">
        <li>
          <input type="checkbox" id="option-1" name="option-1">
          <span class="catalog__form-checkbox"></span>
          <label for="option-1">CO2</label>
        </li>
        <li>
          <input type="checkbox" id="option-2" name="option-2">
          <span class="catalog__form-checkbox"></span>
          <label for="option-2">VOC</label>
        </li>
        <li>
          <input type="checkbox" id="option-3" name="option-3">
          <span class="catalog__form-checkbox"></span>
          <label for="option-3">Выключатель</label>
        </li>
        <li>
          <input type="checkbox" id="option-4" name="option-4">
          <span class="catalog__form-checkbox"></span>
          <label for="option-4">Гигрорегулируемая</label>
        </li>
        <li>
          <input type="checkbox" id="option-5" name="option-5">
          <span class="catalog__form-checkbox"></span>
          <label for="option-5">Ограниченный воздухообмен</label>
        </li>
        <li>
          <input type="checkbox" id="option-6" name="option-6">
          <span class="catalog__form-checkbox"></span>
          <label for="option-6">Постоянное давление</label>
        </li>
        <li>
          <input type="checkbox" id="option-7" name="option-7">
          <span class="catalog__form-checkbox"></span>
          <label for="option-7">Присутствие</label>
        </li>
        <li>
          <input type="checkbox" id="option-8" name="option-8">
          <span class="catalog__form-checkbox"></span>
          <label for="option-8">Пульт д/у</label>
        </li>
      </ul>
    </div>
  </fieldset>
  <div class="catalog__form-btns catalog__form-btns--nojs">
    <button class="catalog__form-submit-btn btn" type="submit">Применить</button>
  <button class="catalog__form-reset-btn btn" type="reset">
    <svg width="12" height="12">
      <use xlink:href="#icon-btn-cross"></use>
    </svg>
    Сбросить
  </button>
  </div>
</form>
