
<div class="page-footer__wrapper container">
  <div class="page-footer__modal-wrap">
    <div class="page-footer__modal modal">
      <h2 class="h2 h2--footer">Напишите нам</h2>
      <p class="modal__text">Напишите о&nbsp;своем проекте и&nbsp;мы&nbsp;ответим на&nbsp;Ваши вопросы</p>
      <form method="post" name="feedback" autocomplete="on">
        <div class="modal__form-row">

          <label for="name-id">
            <input type="text" id="name-id" placeholder="Имя*" required>
          </label>

          <label for="phone-id">
            <input type="tel" id="phone-id" placeholder="Телефон">
          </label>
        </div>

        <label for="mail-id">
          <input type="email" id="mail-id" placeholder="E-mail*" required>
        </label>

        <textarea placeholder="Cообщение"></textarea>

        <label class="modal__textarea-mobile" for="textarea-mobile">
          <input type="text" id="textarea-mobile" placeholder="Cообщение">
        </label>

        <label class="modal__attachment">Прикрепить вложение
          <input class="visually-hidden" type="file">
        </label>
        <div class="modal__upload-success">Файл успешно добавлен</div>


        <button class="btn btn--big" type="submit">Отправить сообщение</button>

        <label class="modal__agreement checkbox" for="agree-id">
          <input class="visually-hidden" type="checkbox" id="agree-id" checked required>
          <span class="checkbox__indicator"></span>
          <span class="checkbox__text">Нажимая кнопку «Отправить», я даю согласие на обработку своих персональных данных и соглашаюсь с политикой конфиденциальности</span>
        </label>

      </form>
    </div>
  </div>

  <div class="page-footer__icons">
    <a class="page-footer__logo" href="main.html">
      <img src="img/icon-logo.svg" width="107" height="83" alt="логотип компании">
    </a>
    <div class="page-footer__links social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Вотсап">
            <svg width="26" height="26" viewBox="0 0 26 26">
              <use xlink:href="img/sprite_auto.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Инстаграм">
            <svg width="28" height="28" viewBox="0 0 28 28">
              <use xlink:href="img/sprite_auto.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" aria-label="Фейсбук">
            <svg width="14" height="27" viewBox="0 0 14 27">
              <use xlink:href="img/sprite_auto.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>© 2020 ООО "АэроХауз"</p>
    </div>
  </div>
  <div class="page-footer__contacts contacts">
    <div>
      <svg width="16" height="16" viewBox="0 0 16 16">
        <use xlink:href="img/sprite_auto.svg#icon-phone"></use>
      </svg>
      <p class="contacts__title">Телефон</p>
      <a href="tel:+74954142050">+7-495-414-20-50</a>
    </div>
    <div>
      <svg width="14" height="20" viewBox="0 0 14 20">
        <use xlink:href="img/sprite_auto.svg#icon-pin"></use>
      </svg>
      <p class="contacts__title">Адрес</p>
      <p class="contacts__address">127106, г. Москва, Алтуфьевское шоссе, д.&nbsp;27, офис 452.</p>
    </div>
    <div>
      <svg width="19" height="15" viewBox="0 0 19 15">
        <use xlink:href="img/sprite_auto.svg#icon-mail"></use>
      </svg>
      <p class="contacts__title">E-mail</p>
      <a href="mailto:info@aero-house.com">info@aero-house.com</a>
    </div>
  </div>

</div>



