<footer class="page-footer">
  <div class="page-footer__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.4155713468513!2d37.580422600569285!3d55.85545593943973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537a9efd5eeaf%3A0xad906f52e0396da9!2z0JDQu9GC0YPRhNGM0LXQstGB0LrQvtC1INGILiwgMjcsINCc0L7RgdC60LLQsCwgMTI3MTA2!5e0!3m2!1sru!2sru!4v1600712107766!5m2!1sru!2sru" width="100%" height="652" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <div class="page-footer__wrapper">
    <div class="page-footer__modal-wrap">
      <div class="page-footer__modal modal">
        <h2 class="modal__title">Напишите нам</h2>
        <p class="modal__text">Напишите о&nbsp;своем проекте и&nbsp;мы&nbsp;ответим на&nbsp;Ваши вопросы</p>
        <form method="post" name="feedback" autocomplete="on">
          <div class="modal__first-line">
            <p>
              <label class="visually-hidden" for="name-id">Имя*</label>
              <input type="text" id="name-id" placeholder="Имя*" required>
            </p>

            <p>
              <label class="visually-hidden" for="phone-id">Телефон</label>
              <input type="tel" id="phone-id" placeholder="Телефон">
            </p>
          </div>

          <p>
            <label class="visually-hidden" for="mail-id">E-mail*</label>
            <input type="email" id="mail-id" placeholder="E-mail*" required>
          </p>

          <textarea placeholder="Cообщение"></textarea>
          <p class="modal__textarea-mobile">
            <label class="visually-hidden" for="textarea-mobile"></label>
            <input type="text" id="textarea-mobile" placeholder="Cообщение">
          </p>

          <p class="modal__attachment">
            <input class="visually-hidden" type="file" id="attachment-id">
            <label for="attachment-id">Прикрепить вложение</label>
          </p>

          <button class="btn" type="submit">Отправить сообщение</button>

          <p class="modal__agreement">
            <input class="visually-hidden" type="checkbox" id="agree-id" checked required>
            <label for="agree-id">Нажимая кнопку «Отправить», я даю согласие на обработку своих персональных данных и соглашаюсь с политикой конфиденциальности</label>
          </p>
        </form>
      </div>
    </div>

    <div class="page-footer__icons">
      <a class="page-footer__logo" href="main.html">
        <img src="img/icon-logo.svg" width="107" height="83" alt="логотип компании">
      </a>
      <div class="page-footer__links social">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link social__link--whatsapp" href="#" aria-label="Вотсап"></a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--insta" href="#" aria-label="Инстаграм"></a>
          </li>
          <li class="social__item">
            <a class="social__link social__link--fb" href="#" aria-label="Фейсбук"></a>
          </li>
        </ul>
        <p>© 2020 ООО "АэроХауз"</p>
      </div>
    </div>
    <div class="page-footer__contacts contacts">
      <div class="contacts__phone">
        <p>Телефон</p>
        <a href="tel:+74954142050">+7-495-414-20-50</a>
      </div>
      <div class="contacts__address">
        <p>Адрес</p>
        <span>127106, г. Москва,<br>Алтуфьевское шоссе,<br>д. 27, офис 452.</span>
      </div>
      <div class="contacts__email">
        <p>E-mail</p>
        <a href="mailto:info@aero-house.com">info@aero-house.com</a>
      </div>
    </div>

  </div>
</footer>

