<div class="page-footer__modal modal">
  <h2 class="modal__title">Напишите нам</h2>
  <p class="modal__text">Напишите о&nbsp;своем проекте и&nbsp;мы&nbsp;ответим на&nbsp;Ваши вопросы</p>
  <form method="post" name="feedback" autocomplete="on">
    <div class="modal__form-row">

      <label for="name-id">
        <input type="text" id="name-id" placeholder="Имя*" required>
      </label>

      <label for="phone-id">
        <input type="tel" id="phone-id" placeholder="Телефон">
      </label>
    </div>

    <label for="mail-id">
      <input type="email" id="mail-id" placeholder="E-mail*" required>
    </label>

    <textarea placeholder="Cообщение"></textarea>

    <label class="modal__textarea-mobile" for="textarea-mobile">
      <input type="text" id="textarea-mobile" placeholder="Cообщение">
    </label>

      <label for="file-upload" class="modal__attachment">Прикрепить вложение
        <input class="visually-hidden" type="file" id="file-upload">
      </label>
      <label id="file-name"></label>


    <button class="btn" type="submit">Отправить сообщение</button>

    <label class="modal__agreement checkbox" for="agree-id">
      <input class="visually-hidden" type="checkbox" id="agree-id" checked required>
      <span class="checkbox__indicator"></span>
      <span class="checkbox__text">Нажимая кнопку «Отправить», я даю согласие на обработку своих персональных данных и соглашаюсь с политикой конфиденциальности</span>
    </label>

  </form>
</div>
