
  <div class="modal popup modal--inst">
    <button class="modal__close-btn" type="button">
      <svg width="20" height="20" viewBox="0 0 20 20">
        <use xlink:href="img/sprite_auto.svg#icon-btn-cross"></use>
      </svg>
    </button>
    <h2 class="h2 h2--small">Оставить заявку на монтаж оборудования</h2>

    <form method="post" name="calculation" autocomplete="on">
      <label><span class="visually-hidden">ФИО</span>
        <input type="text" placeholder="ФИО*" required>
      </label>

      <div class="modal__form-row">

        <label><span class="visually-hidden">Почта</span>
          <input type="email" placeholder="E-mail*" required>
        </label>

        <label><span class="visually-hidden">Телефон</span>
          <input type="tel" placeholder="Телефон">
        </label>

      </div>

      <label><span class="visually-hidden">Адрес объекта</span>
        <input type="text" placeholder="Адрес объекта">
      </label>

      <div class="modal__objects">
        <p>Выберите тип обьекта:</p>
        <div class="modal__types">
          <input type="radio" name="object" value="flat" id="flat-id">
          <label for="flat-id">Квартира</label>
          <input type="radio" name="object" value="cottage" id="cottage-id">
          <label for="cottage-id">Коттедж</label>
          <input type="radio" name="object" value="office" id="office-id">
          <label for="office-id">Офис</label>
          <input type="radio" name="object" value="another" id="another-id">
          <label for="another-id">Ещё...</label>
        </div>
      </div>

      <label><span class="visually-hidden">Cообщение</span>
        <textarea placeholder="Cообщение"></textarea>
      </label>

      <label class="modal__attachment">Прикрепить чертеж квартиры, коттеджа, объекта
        <input class="visually-hidden" type="file">
      </label>
      <div class="modal__upload-success">Файл успешно добавлен</div>

      <button class="btn btn--big" type="submit">Отправить сообщение</button>

      <label class="modal__agreement checkbox">
        <input class="visually-hidden" type="checkbox" checked required>
        <span class="checkbox__indicator"></span>
        <span class="checkbox__text">Нажимая кнопку «Отправить», я даю согласие на обработку своих персональных данных и соглашаюсь с политикой конфиденциальности</span>
      </label>

    </form>
  </div>

