.about {
  padding-bottom: 144px;

  @include tablet {
    padding-bottom: 139px;
  }

  @include mobile {
    padding-top: 31px;
    padding-bottom: 60px;

    h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 142%;
      letter-spacing: 0.005em;
    }
  }

  &--indent-top {
    padding-bottom: 92px;
    padding-top: 78px;

    @include tablet {
      padding-top: 27px;
      padding-bottom: 40px;
    }

    @include mobile {
      padding-top: 31px;
      padding-bottom: 42px;
    }

    h1 {
      text-transform: uppercase;

      @include mobile {
        font-size: 28px;
        line-height: 34px;
        font-weight: 400;
      }
    }
  }
}

.about__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 65px;

  @include tablet {
    margin-top: 69px
  }

  @include mobile {
    flex-direction: column;
    margin-top: 22px;
  }

  &--align-top {
    align-items: flex-start;

    @include tablet {
      margin-top: 79px
    }

    @include mobile {
      margin-top: 36px;
    }
  }
}

.about__img {
  width: 57.2%;

  @include tablet {
    width: 42.8%;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 31px;
  }

  &--wide {
    @include tablet {
      width: 48.7%;
      padding-right: 15px;
    }

    @include mobile {
      width: 100%;
      padding-right: 0;
      margin-bottom: 40px;
    }
  }
}

.about__description {
  width: 31.3%;
  padding-right: 2.6%;

  @include tablet {
    width: 48.7%;
    padding-right: 0;
    padding-bottom: 0;
  }

  @include mobile {
    width: 100%;
  }

  h2 {
    margin: 0 0 0.375em;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.025em;

    @include tablet {
      margin: 0;
      //line-height: 21px;
    }

    @include mobile {
      font-size: 14px;
      //line-height: 18px;
    }
  }

  &--big-indent {
    padding-right: 6%;

    @include mobile {
      padding-right: 0;
    }

    h2 {
      line-height: 21px;
      margin-top: -0.4em;

      @include tablet {
        line-height: 21px;
        margin-top: 0;
      }
    }
  }

}

.about__description-intro {
  margin: 0;
  margin-bottom: -8px;
  padding-top: 16px;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.95;

  @media (max-width: 1919px) {
    font-size: 1.26vw;
  }

  @include tablet {
    padding-top: 34px;
    margin-bottom: -2px;
    font-size: 1.88vw;
  }

  @include mobile {
    padding: 15px 0 0;
    font-size: 16px;
    line-height: 168%;
    letter-spacing: .005em;
  }

  &--big-text {
    @include mobile {
      padding: 14px 0 0;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.005em;
    }
  }
}

.about__description-text {
  margin: 0 0 10.2%;
  padding: 35px 0 10px 0;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.005em;
  opacity: 0.95;

  @media (max-width: 1919px) {
    font-size: 0.92vw;
  }

  @include tablet {
    padding-top: 34px;
    font-size: 1.41vw;
    margin-bottom: 4.7%;
  }

  @include mobile {
    padding: 42px 0 0;
    margin-bottom: 7.5%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;
  }
}

.about__description-link {
  padding-right: 73px;
}
