.breadcrumb {
  &--no-mobile {
    @include mobile {
      display: none;
    }
  }

  &__container {
    display: flex;
    padding-top: 3px;
    padding-bottom: 11px;

    @include tablet {
      padding-top: 22px;
    }

    @include mobile {
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    position: relative;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.005em;

    padding: 7px 0 0 0;

    color: #5d6a7b;

    @include mobile {
      display: none;
    }
  }

  &__item {
    position: relative;
    margin-right: 14px;

    &:last-of-type {
      &::after {
        display: none;
      }

      .breadcrumb__link:hover {
        opacity: 1;
      }
    }

    &::after {
      content: "/";
      position: absolute;

      right: -10px;
    }
  }

  &__link {
    opacity: 1;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }
  }

  &__link--disabled {
    pointer-events: none;
  }

  &__back-arrow {
    width: 27px;
    height: 30px;
    display: flex;
    align-items: center;

    @include mobile {
      position: relative;
      z-index: 1;
      width: 50px;
      height: 50px;
    }
  }
}
