.brief {
  background-color: $bg-color;
  padding: 107px 0 82px;

  @include tablet {
    padding: 103px 0 92px;
  }

  @include mobile {
    padding: 0 0 39px;
  }
}

.brief__wrapper {
  @include list-reset;
  padding: 0 60px 0 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include tablet {
    padding-right: 0;
    padding-left: 3.9%;
  }

  @include mobile {
    display: block;
    padding-top: 44px;
    padding-left: 0;
  }
}

.brief__item  {
  width: 30%;
  margin: 0 auto auto;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 20%;
    margin: 0;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 56px;
  }

  &:not(:nth-of-type(3n + 1)) {
    @include tablet {
      margin-left: 18.4%;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  &:last-of-type {
    @include mobile {
      margin-bottom: 0;
    }
  }
}

.brief__index {
  margin: 0;
  font-size: 96px;
  line-height: 35%;
  color: $blue;

  @include tablet {
    font-size: 72px;
    line-height: 47%;
    margin: 0 0 34px;
  }

  @include mobile {
    margin: 0 0 21px;
    font-size: 64px;
    line-height: 34px;
    text-align: center;
  }
}

.brief__descr {
  margin: 39px 0 0;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.005em;
  opacity: 0.95;

  @include tablet {
    margin-top: 0;
  }

  @include mobile {
    text-align: center;
    padding: 0;
  }
}
