.card-info {
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "model pictures"
      "details pictures"
      "basic-info pictures"
      ".  pictures-text";
    padding-bottom: 108px;

    @include tablet {
      grid-template-areas:
        "model pictures"
        "details pictures"
        "basic-info pictures-text";
      padding-bottom: 90px;
    }

    @include tablet-inner {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "model"
        "pictures"
        "pictures-text"
        "details"
        "basic-info";
      padding-bottom: 60px;
    }
  }


  h1 {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 34px;
    }

    @include tablet-inner {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-top: -42px;
      padding-left: 28px;
      margin-bottom: 20px;
    }

    sup {
      font-size: 36px;
      vertical-align: revert;
      top: -.3em;

      @include tablet {
        font-size: 26px;
      }

      @include mobile {
        font-size: 13px;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: $white;
    outline: none;
    opacity: 1;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 15px;
  }

}

.model {
  grid-area: model;
  margin-bottom: 54px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include tablet-inner {
    margin-bottom: 18px;
  }


  &__type {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    @include tablet-inner {
      font-size: 14px;
      line-height: 22px;

      letter-spacing: 0.005em;

      margin-bottom: 5px;
    }

    svg {
      margin-right: 14px;

      @include tablet {
        margin-right: 12px;
      }

      @include tablet-inner {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }

  h2 {
    width: 90%;

    @include tablet-inner {
      width: 100%;
    }
  }
}


.details {
  grid-area: details;

  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  line-height: 36px;

  margin-bottom: 43px;

  @include tablet {
    margin: 0 0 41px;
  }

  @include tablet-inner {
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.005em;

    margin: 0 0 27px;
  }


  &__item {
    position: relative;
    margin-bottom: 20px;

    @include tablet-inner {
      margin-bottom: 8px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;
    transition: color $transition-props;

    &:hover {
      color: $blue-hover;
    }

    svg {
      margin-left: 18px;
    }
  }
}

.pictures {
  grid-area: pictures;
  width: 97%;
  // height: 535px;
  height: 576px;
  margin: 13px 0 0 25px;

  @include tablet {
    height: 370px;
    margin: 11px 0 0 16px;
  }

  @include tablet-inner {
    width: 100%;
    margin: 0 0 20px 0;
  }

  @include mobile {
    height: 180px;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include mobile {
        max-width: 290px;
        margin: 0 auto;
      }
    }
  }
}

.pictures-text {
  grid-area: pictures-text;
  font-size: 24px;
  line-height: 36px;

  width: 77%;
  // margin: -3px 0 0 25px;
  margin: 35px 0 0 25px;

  @include tablet {
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.005em;

    margin: -18px 0 0 15px;
  }

  @include tablet-inner {
    font-size: 14px;
    line-height: 22px;

    width: 100%;
    margin: 0 0 29px;
  }
}


.basic-info {
  grid-area: basic-info;

  &__list {
    @include list-reset;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;

    @include tablet-inner {
      font-size: 12px;
      line-height: 12px;
    }
  }


  &__item {
    display: flex;
    margin-bottom: 9px;

    @include tablet-inner {
      margin-bottom: 13px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 600;
    margin: 0 3px 0 0;
  }

  &__text {
    margin: 0;
  }

  button {
    margin-bottom: 50px;

    @include tablet-inner {
      margin-bottom: 29px;
    }
  }
}

