.card-accordion {
  &__container {
    padding-top: 118px;

    @include tablet {
      padding-top: 110px;
    }

    @include mobile {
      padding-top: 40px;
    }
  }

  &__item {
    @include button-reset;
    position: relative;

    font-size: 36px;
    line-height: 42px;

    display: flex;
    align-items: baseline;
    width: 100%;
    height: 110px;
    padding: 33px 0;

    cursor: pointer;
    color: $dark;
    transition: $transition-props;
    text-align: left;

    @include mobile {
      font-size: 24px;
      line-height: 36px;

      height: 64px;
      padding: 15px 0;
    }

    &--table {
      @include mobile {
        display: none;
      }
    }

    &--slider {
      display: none;

      @include mobile {
        display: flex;
      }
    }

    &--mobile {
      display: none;

      @include mobile {
        display: flex;
      }
    }

    &--pattern {
      display: none;

      @include mobile {
        display: flex;
      }
    }

    &:first-of-type,
    &:nth-of-type(2) {
      border-top: 1px solid rgba($color: #323b47, $alpha: 0.2);
    }

    &:nth-of-type(3) {
      @include mobile {
        border-top: 1px solid rgba($color: #323b47, $alpha: 0.2);
      }
    }

    svg {
      margin-left: 18px;
      transform: rotate(180deg);
      color: #000000;
      transition: transform $transition-props;

      @include mobile {
        width: 12px;
        height: 15px;

        margin-left: 19px;
      }
    }

    &.active {
      svg {
        transform: rotate(270deg);
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-props;
    border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);

    // &::before {
    //   @include mobile {

    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);
    //   }
    // }

    &--specifications {
      // border-top: 1px solid rgba(50, 59, 71, 0.2);
      border-bottom: none;

      @include tablet {
        margin-top: 9px;
      }

      @include mobile {
        margin-top: 6px;
      }
    }

    &--scheme {
      display: flex;
      // margin-top: -10px;
      align-items: flex-start;
    }
  }
}


.scheme {
  &__document {
    margin-left: 11%;
    margin-bottom: 108px;
  }

  .document {
    padding: 40px 24px 30px;

    h3 {
      font-size: 24px;
      line-height: 32px;

      margin-bottom: 31px;

      svg {
        margin-right: 8px;
      }
    }

    p {
      margin: 0 0 20px 5px;
    }

    a {
      padding: 0 47px 0 5px;

      &::after {
        top: -9px;

        width: 25px;
        height: 25px;
      }
    }
  }

  img {
    margin-top: -10px;

    @include tablet {
      margin-bottom: 36px;
    }

    @include mobile {
      margin-top: 8px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.document {
  width: 20.9%;
  min-height: 1px;
  padding: 40px 30px 30px;
  border: 1px solid rgba($color:#323b47, $alpha: 0.2);

  @include tablet {
    display: none;
    width: 30.5%;
  }

  h3 {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;

    margin: 0 0 40px;
    // padding-left: 54px;

    font-size: 20px;
    line-height: 20px;

    padding-left: 0;
    margin-right: auto;
    margin-bottom: 10px;

    svg {
      margin-right: 10px;

      @include mobile {
        width: 23px;
        height: 24px;
        margin-right: 7px;
      }
    }

    @include tablet {
      align-items: flex-end;
    }

    @include mobile {
      font-size: 16px;
      line-height: 16px;


      margin-bottom: 5px;
    }
  }

  p,
  a {
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.005em;
  }

  p {
    color: $blue;
    width: 100%;
    margin: 0 0 31px 3px;

    @include tablet {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 24px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 26px;

      margin: 0 0 28px 4px;
    }
  }

  span {
    font-size: 14px;
    line-height: 14px;
    display: block;
    margin: 0 0 49px 6px;
  }

  a {
    position: relative;
    align-self: center;
    padding-right: 38px;
    transition: opacity $transition-props;

    @include tablet {
      padding-right: 36px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
      align-self: baseline;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: -1px;

      width: 20px;
      height: 20px;

      background-image: url("../img/icon-download.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @include tablet {
        right: 1px;
        top: 0;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &--certificate {
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 40px 22px 30px;

    @include mobile {
      display: none;
    }

    h3 {
      margin: 0 auto 30px 0;
      font-size: 24px;
      line-height: 32px;

      @include tablet {
        line-height: 49px;
      }

      svg {
        margin-right: 8px;
      }
    }

    p {
      margin: 0 0 28px 10px;
    }

    span {
      margin-bottom: 39px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.005em;
    }

    a {
      align-self: flex-start;
      margin-left: 6px;
      padding-right: 43px;
    };
  }
}


.card-accordion.no-js {
  .card-accordion__content {
    max-height: 100%;
  }

  .card-accordion__item {
    svg {
      transform: rotate(270deg);
    }
  }
}


.files {
  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    margin: 23px 0 26px;

    @include tablet {
      margin: 21px 0 26px;
    }

    @include mobile {
      display: block;
      margin: 7px 0 33px;
    }
  }

  .documents__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 20.9%;
    min-height: 160px;
    margin-right: 4.9%;
    margin-bottom: 10px;
    padding: 20px 30px 10px 26px;

    @include tablet {
      width: 30.5%;
      margin-right: 3.8%;
      padding: 18px 27px 10px;
    }

    @include mobile {
      width: 100%;
      min-height: 1px;
      padding: 15px 22px 15px 20px;
      margin-bottom: 20px;
    }

    &:nth-of-type(3n) {
      @include tablet {
        margin-right: 0;
      }

      @include mobile {
        display: none;
      }
    }

    &:nth-of-type(4n) {
      margin-right: 0;

      @include tablet {
        margin-right: 3.8%;
      }
    }

    &:last-of-type {
      @include tablet {
        display: none;
      }
    }
  }
}
