.catalog {
  @include mobile {
    margin-bottom: 22px;

    h1 {
      margin-top: -42px;
      padding-left: 28px;
      margin-bottom: 10px;

      @include mobile {
        margin-top: -52px;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobile {
      position: relative;
      flex-direction: column;
    }
  }

  & aside {
    margin-right: 20px;

    @include tablet {
      margin-right: 4.5%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 75%;
    max-width: 75%;
    margin-top: 23px;

    @include tablet {
      min-width: 65%;
      max-width: 100%;
      margin-top: 0;
    }

    @include mobile {
      flex-direction: column;
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__item {
    min-width: 42%;
    max-width: 42%;
    margin-bottom: 58px;
    margin-right: 4%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    @include tablet {
      min-width: 48%;
      max-width: 48%;
      margin-bottom: 55px;
    }

    @include tablet-1200px {
      margin-bottom: 40px;
    }

    @include tablet-inner {
      margin-bottom: 40px;
    }

    @include mobile {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 9px;
    }
  }

  &__link-img {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__link-img img {
    margin-bottom: 25px;
    object-fit: contain;

    @include tablet {
      margin-bottom: 21px;
    }

    @include mobile {
      min-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__link-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 36px;
    color: $dark;

    @include tablet-1440px {
      font-size: 22px;
      line-height: 22px;
    }

    @include tablet-1200px {
      font-size: 20px;
      line-height: 20px;
    }

    @include tablet-inner {
      font-size: 18px;
      line-height: 18px;
    }

    @include mobile {
      line-height: 28px;
    }
  }
}
