.catalog-devices {
  @include tablet {
    margin-top: 6px;
  }

  .tablet-hide {
    display: block;
    margin-bottom: 50px;

    @include tablet {
      display: none;
    }
  }

  .tablet-visible {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobile {
      position: relative;
      flex-direction: column;
    }
  }

  & aside {
    margin-right: 20px;

    @include tablet {
      margin-right: 4.5%;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    @include tablet {
      width: 34%;
      font-size: 36px;
      font-weight: 400;
      line-height: 42px;
    }

    @include mobile {
      position: relative;
      width: 100%;
      margin-top: -46px;
      margin-left: 26px;
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 75%;
    max-width: 75%;
    margin-top: 23px;

    @include tablet {
      min-width: 65%;
      max-width: 65%;
      margin-top: 0;
    }

    @include mobile {
      flex-direction: column;
      min-width: 100%;
      max-width: 100%;
      margin-top: 0;
    }
  }

  &__item {
    min-width: 42%;
    max-width: 42%;
    margin-bottom: 66px;
    margin-right: 4%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    @include tablet {
      min-width: 48%;
      max-width: 48%;
      margin-bottom: 70px;
    }

    @include tablet-1200px {
      margin-bottom: 50px;
    }

    @include tablet-inner {
      margin-bottom: 40px;
    }

    @include mobile {
      min-width: 100%;
      max-width: 100%;
      margin: 0 auto 40px;
    }
  }

  &__link-img {
    display: block;
    width: 100%;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    @include tablet {
      margin-bottom: 5px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__link-img img {
    margin-bottom: 15px;
    object-fit: contain;

    @include tablet {
      margin-bottom: 7px;
    }

    @include mobile {
      min-width: 100%;
      margin-bottom: 4px;
    }
  }

  &__link-name {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__name {
    margin-bottom: -4px;
    margin-right: 6%;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue;

    @include tablet {
      margin-bottom: -2px;
      margin-right: 9%;
    }

    @include tablet-inner {
      font-size: 24px;
    }

    @include mobile {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  &__link-name svg {
    width: 23px;
    height: 23px;
    margin-right: 3%;

    @include tablet-inner {
      width: 16px;
      height: 16px;
    }
  }

  &__model-type {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: $dark;

    @include tablet-inner {
      font-size: 14px;
    }

    @include mobile {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__model {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: $dark;

    @include tablet {
      font-size: 18px;
      line-height: 28px;
    }

    @include tablet-inner {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
