.catalog {
  &__form-filter {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 82px;

    @include tablet {
      margin-top: 48px;
      margin-right: 4%;
    }

    @include tablet-inner {
      min-width: 220px;
    }

    @include mobile {
      width: 100%;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__fieldset-wrap {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    border: none;

    @include tablet {
      margin-bottom: 10px;
    }

    @include mobile {
      margin-bottom: 0;
      padding-bottom: 9px;
      border-bottom: 1px solid $border-color;
    }
  }

  &__fieldset-wrap:last-of-type {
    margin-bottom: 27px;

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__form-list {
    @include list-reset;
    display: flex;
    flex-direction: column;

    @include mobile {
      padding-left: 19px;
    }
  }

  &__filter-toggle {
    position: relative;
    height: 40px;
    margin-bottom: 17px;
    padding-left: 0;
    padding-right: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: $dark;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    transition: opacity $transition-props;
    background-color: transparent;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      right: 18px;
      width: 14px;
      height: 14px;
      background: url("../img/icon-arrow-opened.svg") no-repeat;

      @include mobile {
        right: 0;
      }
    }

    @include tablet {
      letter-spacing: -0.05em;
    }

    @include tablet-inner {
      font-size: 14px;
      line-height: 22px;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 5px;
      text-align: left;
      letter-spacing: normal;
    }
  }

  &__fieldset-wrap--closed {
    .catalog__filter-toggle {
      margin-bottom: 0;
    }

    .catalog__filter-toggle::before {
      display: none;
    }

    .catalog__filter-toggle::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 18px;
      width: 14px;
      height: 14px;
      background: url("../img/icon-arrow-closed.svg") no-repeat;

      @include mobile {
        right: 0;
      }
    }

    .catalog__form-list {
      display: none;
    }

    @include mobile {
      padding-bottom: 1px;
      padding-left: 0;
    }
  }

  &__fieldset-wrap--nojs {
    .catalog__filter-toggle::before,
    .catalog__filter-toggle::after {
      display: none;
    }

    .catalog__form-list {
      display: flex;
    }
  }

  &__form-filter li {
    margin-bottom: 15px;
    letter-spacing: 0.01em;

    @include tablet-1440px {
      font-size: 16px;
    }

    @include tablet-1200px {
      font-size: 14px;
    }

    @include tablet-inner {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__form-filter input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__form-checkbox {
    position: absolute;
    margin-top: 7px;
    margin-left: -2em;
    width: 13px;
    height: 13px;
    overflow: hidden;
    border-radius: 50%;

    @include tablet-inner {
      width: 10px;
      height: 10px;
      margin-top: 4px;
    }

    @include mobile {
      margin-top: 2px;
      margin-left: -1.6em;
    }
  }

  &__form-filter input:checked + .catalog__form-checkbox {
    background-color: $blue;
  }

  &__form-filter input[disabled] ~ label {
    opacity: 0.7;
  }

  &__form-filter input[disabled] + .catalog__form-checkbox {
    display: none;
  }

  &__form-filter input:checked:disabled + .catalog__form-checkbox {
    display: block;
    background-color: $blue;
    opacity: 0.7;
  }

  label {
    transition: all 0.2s ease;
    cursor: pointer;
  }

  &__form-filter label:hover {
    opacity: 0.7;
  }

  &__form-btns {
    display: none;
  }

  &__form-btns--show,
  &__form-btns--nojs {
    display: block;

    @include mobile {
      display: flex;
      flex-direction: row;
    }
  }

  &__form-submit-btn {
    margin-bottom: 8px;
    line-height: 38px;

    @include mobile {
      width: 150px;
      height: 40px;
      line-height: 147.3%;
    }
  }

  &__form-reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    color: $dark;

    & svg {
      fill: $dark;
      margin-left: -2px;
      margin-right: 10px;

      @include mobile {
        margin-left: 9px;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.7;
      background-color: transparent;
    }

    @include mobile {
      width: 140px;
      height: 40px;
    }
  }
}
