.contact-header__item {
  position: relative;
  margin-bottom: 11px;
  margin-left: 20px;

  &::before {
    display: flex;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-whatsapp-header.svg);
    background-repeat: no-repeat;
    left: -20px;
  }
}

.contact-wrap {
  min-width: 197px;
  margin-right: 32px;
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .contact-header__link {
    font-size: 14px;
    line-height: 16px;
  }
  .contact-wrap {
    margin-right: 0;
    min-width: 159px;
  }
}
