.page-footer {
  position: relative;
  width: 100%;

  background-color: $bg-color;

  &::before {
    content: "";
    position: absolute;

    top: 654px;

    width: 100%;
    height: 8px;

    background-color: $white;

    @media (max-width: 1400px) {
      top: 562px;
    }
  }

  @include mobile {
    padding-top: 20px;
  }



  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 372px 7.6% 122px;

    @media (max-width: 1400px) {
      flex-wrap: wrap;
      padding: 372px 6.6% 32px;
    }

    @include mobile {
      padding: 0 0 32px;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 652px;
    overflow: hidden;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 287px;
    //   left: 50%;
    //   width: 28px;
    //   height: 40px;
    //   background-image: url("../img/icon-pin-blue.svg");
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   z-index: 1;
    //   transform: translate(-50%, 0);

    //   @media (max-width: 1400px) {
    //     top: 240px;
    //   }
    // }

    iframe {
      filter: grayscale(100%);

      @media (max-width: 1400px) {
        height: 562px;
      }
    }

    @media (max-width: 1400px) {
      height: 562px;
    }

    @include mobile {
      display: none;
    }
  }


  &__logo {
    display: block;
    margin-bottom: 146px;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 1400px) {
      width: 90px;
      height: 70px;
      margin-bottom: 30px;
    }

    @media (max-width: 940px) and (min-width: 768px) {
      margin-right: auto;
    }

    @include mobile {
      width: 60px;
      height: 42px;
      margin: 0;
    }
  }

  &__icons {
    order: 1;
    margin: 0 0 26px 0;

    @media (max-width: 1400px) {
      order: 2;
    }

    @media (max-width: 940px) and (min-width: 768px) {
      display: flex;
      order: 3;
      width: 100%;
    }

    @include mobile {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      padding: 0 15px;
      margin: 0;

      order: 3;
    }
  }

  &__contacts {
    font-size: 16px;
    line-height: 24px;

    margin: 0 7px 21px 0;
    order: 3;

    @media (max-width: 1400px) {
      display: flex;
      justify-content: space-between;
      width: 71.5%;
      margin: 0 0 -8px auto;

      order: 3;
    }

    @media (max-width: 940px) and (min-width: 768px) {
      order: 2;
      width: 96%;
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
      margin: 0 15px 47px;
      padding: 10px 0 0 29px;

      order: 2;
    }

    svg {
      position: absolute;
      top: 4px;
      left: -30px;
    }


    div {
      position: relative;
      margin-bottom: 38px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:first-of-type {
        margin-bottom: 47px;
      }

      @media (max-width: 1400px) {
        min-width: 220px;
      }

      @include mobile {
        margin-bottom: 28px;
      }
    }

    a {
      color: #5f6f85;
      transition: opacity $transition-props;

      &:hover {
        opacity: 0.7;
      }

      &:first-of-type {
        line-height: 19px;

        @include mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }

      &:last-of-type {
        font-size: 18px;
        line-height: 21px;

        @include mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }

      @include mobile {
        font-size: 14px;
        line-height: 16px;
      }
    }

    span {
      font-size: 18px;
      line-height: 24px;

      color: #5f6f85;

      @include mobile {
        font-size: 14px;
      }
    }
  }
}

.contacts {
  &__title {
    font-weight: 700;
    margin: 0 0 12px;
    text-transform: uppercase;

    @include mobile {
      font-size: 12px;
      line-height: 14px;

      margin: 0 0 6px;
    }
  }

  &__address {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #5f6f85;
  }
}

.social {
  p {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.02em;

    margin: 0;

    color: rgba($color: #323B47, $alpha: 0.8);

    @media (max-width: 1400px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    margin-bottom: 33px;

    @media (max-width: 1400px) {
      margin-bottom: 21px;
    }
  }

  &__item {
    margin-right: 30px;

    @include mobile {
      margin-right: 33px;
    }
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }
  }
}
