.main-slider {
  position: relative;

  &__list {
    @include list-reset;
    display: flex;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    width: 1259px;
    width: 65.6%;
    height: 570px;
  }

  .swiper-slide-next {
    width: 230px;
    width: 12%;
    height: auto;
  }

  .swiper-button-prev {
    top: 4%;
    left: -25px;

    height: 100%;
    width: 12%;

    background-image: url("../img/main-slider-prev.svg");
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity $transition-props;
    outline: none;
    z-index: 0;

    &::after {
      content: "";
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .swiper-button-next {
    &::after {
      content: "";
    }

    right: 295px;
    top: 7%;

    width: 74px;
    height: 60px;

    background-image: url("../img/main-slider-next.svg");
    background-repeat: no-repeat;
    transition: opacity $transition-props;
    outline: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__pagination {
    font-size: 24px;
    line-height: 35px;

    width: 100px;

    bottom: 40.7%;
    left: 79.9%;
  }
}
