.main-nav {
  display: flex;
  padding-top: 31px;
}

.main-nav__list {
  @include list-reset();
}

// начало

.main-nav__right-wrapper {
  width: 210px;
  margin-left: auto;

  @include tablet {
    width: 155px;
  }
}

.main-nav__contact {
  @include list-reset();

  margin-bottom: 18px;

  li {
    display: flex;
    margin-bottom: 11px;

    font-family: $font; // вынести
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: $dark;
    letter-spacing: 0.02em;

    &::before {
      content: "";

      width: 18px;
      height: 18px;
      margin-right: 6px;

      background-image: url("../img/icon-whatsapp-header.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include tablet {
    li {
      font-size: 14px;
      line-height: 16px;

      &::before {
        margin-right: 4px;
      }
    }
  }
}

.main-nav__slogan {
  font-family: $font; // вынести
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $lighter-grey;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    margin-right: 5px;
  }

  @include tablet {
    img {
      margin-right: 6px;
    }
  }
}

// конец


.main-nav__search button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

.main-nav__logo a {
  display: block;
  min-width: 107px;
}

.main-nav__logo {
  flex-grow: 2;
}

.main-nav__search {
  flex-grow: 1.4;
}

@media (max-width: $tablet-width) {
  .main-nav__logo img {
    width: 90px;
    height: 70px;
  }

  .main-nav__search {
    flex-grow: 0.4;
  }
}
