.main-sliders {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  ul {
    @include list-reset;
  }

  @include tablet-inner {
    margin-bottom: 100px;
    width: calc(100% + 170px);
    position: relative;
    left: -85px;
  }

  @include mobile {
    width: calc(100% + 30px);
    left: -15px;
  }
}

.main-sliders-more {
  position: absolute;
  bottom: 86.2%;

  width: 14%;
  right: 0;

  text-align: left;
  cursor: pointer;
  transition: opacity $transition-props;

  &:hover {
    opacity: 0.4;
  }



  @include tablet {
    width: 14.4%;
    bottom: 87.2%;

    svg {
      width: 55px;
      height: 46px;
    }
  }

  @include tablet-inner {
    right: 11px;
    width: 40px;
    bottom: -13.4%;

    svg {
      width: 36px;
      height: 30px;
    }
  }

  @include mobile {
    bottom: -21.4%;
  }
}

.main-sliders__pagination1 {
  font-size: 24px;
  line-height: 35px;
  width: 14%;
  right: 0;
  text-align: left;
  bottom: 40.6%;
  left: initial;

  @include tablet {
    width: 14.4%;
    bottom: 54.6%;
  }

  @include tablet-inner {
    width: 80px;
    right: 49px;
    font-size: 18px;
    line-height: 27px;

    bottom: -13.4%;
  }

  @include mobile {
    bottom: -21.4%;
  }
}


.main-slider1 {
  width: 77.4%;
  margin: 0;

  @include tablet {
    width: 74.3%;
  }

  picture,
  img {
    height: 570px;
    width: 100%;
    object-fit: cover;

    @include tablet {
      height: 360px;
    }

    // @include tablet-inner {
    //   height: 217px;
    // }

    @include mobile {
      height: 217px;
    }
  }

  @include tablet-inner {
    width: 100%;
  }
}

.main-sliders__button-next1,
.main-slider2 {
  width: 14%;
  margin: 0;

  @include tablet {
    width: 14.4%;
  }
}

.main-sliders__button-next1,
.main-slider2 picture,
.main-slider2 img {
  height: 150px;

  @include tablet {
    height: 125px;
  }
}

.main-slider2 {
  picture,
  img {
    width: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    opacity: 0;
    transition: opacity .3s ease;

    &.active {
      opacity: 1;
    }
  }

  .swiper-slide:not(:first-of-type) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  @include tablet-inner {
    display: none;
  }
}


.main-sliders__button-next1 {
  background: $white;
  right: 0;
  bottom: 0;
  top: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  outline: none;

  &:hover {
    opacity: 0.4;
  }

  &::after {
    display: none;

    @include tablet-inner {
      display: block;
      content: "";
      padding: 0 0 0 36px;
      width: 12px;
      height: 19px;
      background-image: url("../img/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(180deg);
    }
  }

  @include tablet-inner {
    opacity: 1;
    top: 0;
    height: 100%;
    right: 0;
    width: 86px;
    background: transparent;
    color: black;
  }
}

.main-sliders__button-prev1 {
  background-color: $bg-color;
  left: -145px;
  width: 146px;
  top: 0;
  bottom: 0;
  height: 100%;
  outline: none;
  margin-top: 0;
  transition: opacity 0.3s ease;

  @include tablet {
    left: -85px;
    width: 86px;
  }

  @include tablet-inner {
    background: transparent;
    left: 0;
  }

  &::after {
    color: #b7b7b7;
    font-size: 20px;
    padding: 3px 0 0 36px;


    @include tablet-inner {
      content: "";
      color: $white;
      padding: 0 36px 0 0;
      width: 12px;
      height: 19px;
      background-image: url("../img/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }


  &:hover {
    opacity: 0.7;
  }
}
