.main-nav {
  display: flex;
  padding-top: 31px;
}

.main-nav__list,
.main-nav__contact {
  @include list-reset();
}

.main-nav__slogan img,
.main-nav__slogan p:nth-child(2) {
  float: left;
}

.main-nav__slogan img {
  margin-right: 5px;
}

.main-nav__slogan p {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 148.8%;
  color: #a4aab1;
  margin: 0;
  margin-bottom: 5px;
}

.main-nav__search button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

.main-nav__logo a {
  display: block;
  min-width: 107px;
}

.main-nav__logo {
  flex-grow: 2;
}

.main-nav__search {
  flex-grow: 1.4;
}

@media (max-width: $tablet-width) {
  .main-nav__logo img {
    width: 90px;
    height: 70px;
  }

  .main-nav__slogan p:first-child {
    width: 100px;
  }

  .main-nav__search {
    flex-grow: 0.4;
  }

}
