.main-nav {
  display: flex;
  padding-top: 31px;
}

.main-nav__logo {
  // flex-grow: 2; // сетка
  width: 107px;
  height: 83px;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include tablet {
    width: 90px;
    height: 70px;
  }
}

.main-nav__menu {
  @include list-reset();

  display: flex;
  flex-wrap: wrap;
  flex-grow: 5; // сетка

  li {
    margin-right: 50px;

    font-family: $font; // вынести
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: $dark;
    letter-spacing: 0.02em;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    transition: all $transition-props;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  @include tablet {
    flex-grow: 1.5; // сетка

    li {
      margin-right: 40px;
    }
  }
}

.main-nav__search {
  flex-grow: 1.4;

  svg {
    transition: all $transition-props;
  }

  button {
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover svg,
    &:focus svg {
      fill: $blue;
    }
  }

  @include tablet {
    flex-grow: 0.4;
  }
}

.main-nav__right-wrapper {
  width: 210px;
  margin-left: auto;

  @include tablet {
    width: 155px;
  }
}

.main-nav__contact {
  @include list-reset();

  margin-bottom: 18px;

  li {
    display: flex;
    margin-bottom: 11px;

    font-family: $font; // вынести
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: $dark;
    letter-spacing: 0.02em;

    &::before {
      content: "";

      width: 18px;
      height: 18px;
      margin-right: 6px;

      background-image: url("../img/icon-whatsapp-header.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include tablet {
    li {
      font-size: 14px;
      line-height: 16px;

      &::before {
        margin-right: 4px;
      }
    }
  }
}

.main-nav__slogan {
  font-family: $font; // вынести
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $lighter-grey;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin-right: 5px;
  }

  @include tablet {
    img {
      margin-right: 6px;
    }
  }
}
