.page-footer__modal-wrap {
  padding: 3px 0 0 13px;
  order: 2;
  z-index: 1;

  @media (max-width: 1490px) {
    order: 1;
    width: 100%;
    margin-bottom: 47px;
    padding: 0;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.page-footer__modal {
  width: 700px;
  min-height: 700px;
  padding: 41px 95px 0;

  background-color: $white;

  @media (max-width: 1490px) {
    margin: 0 auto;
  }

  @include mobile {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 29px 15px 5px;
  }

  label {
    display: block;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.005em;
    opacity: 0.8;

    margin-bottom: 40px;

    @include mobile {
      font-size: 14px;
      line-height: 14px;

      margin-bottom: 25px;
    }
  }

  label[for="textarea-mobile"] {
    display: none;

    @include mobile {
      display: block;
    }
  }
}

.modal {
  &__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 17px;


    text-align: center;

    @include mobile {
      font-size: 36px;
      line-height: 42px;

      margin: 0 0 11px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;

    width: 67%;
    margin: 0 auto 42px;

    text-align: center;

    @media (max-width: 1490px) {
      margin: 0 auto 44px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 22px;

      width: 80%;
      margin-bottom: 26px;
    }
  }

  &__form-row {
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: block;
      margin-bottom: 22px;

      p {
        margin-bottom: 23px;
      }
    }

    label {
      width: 45%;

      @include mobile {
        width: 100%;
      }
    }
  }


  &__attachment {
    label {
      display: block;
      position: relative;
      padding-left: 36px;
      transition: opacity $transition-props;
      cursor: pointer;

      @include mobile {
        margin-top: 29px;
      }

      &:hover {
        opacity: 0.7;
      }

      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 21px;
        left: 0;
        top: -3px;

        background-image: url("../img/icon-cloud.svg");
        background-repeat: no-repeat;
      }
    }
  }

  form {
    p {
      margin: 0;
    }

    input {
      font-size: 15px;
      line-height: 15px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: rgba(50, 59, 71, 0.8);

      width: 100%;
      height: 38px;
      padding: 0;

      border: none;
      border-bottom: 1px solid rgba(50, 59, 71, 0.6);
      outline: none;
      cursor: pointer;
      transition: opacity $transition-props;

      &::placeholder {
        display: block;
        margin-bottom: 5px;
      }

      &:hover {
        opacity: 0.7;
      }

      @include mobile {
        height: 36px;
      }
    }

    textarea {
      font-size: 15px;
      line-height: 15px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: rgba(50, 59, 71, 0.8);

      width: 100%;
      min-height: 110px;
      margin-top: -3px;
      margin-bottom: 10px;
      padding: 11px 17px;
      border: 1px solid rgba(50, 59, 71, 0.6);
      outline: none;
      cursor: pointer;
      transition: opacity $transition-props;

      &:hover {
        opacity: 0.7;
      }

      @include mobile {
        display: none;
      }
    }
  }

  button {
    font-size: 15px;
    line-height: 57px;
    font-weight: 500;
    display: block;
    margin: 40px auto 23px;
    width: 319px;
    height: 57px;

    text-transform: uppercase;
    outline: none;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      width: 100%;
      margin: 45px auto 21px;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;

  &__indicator {
    position: absolute;
    top: 4px;
    left: 24px;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid $blue;
    border-radius: 1px;

    @include mobile {
      top: 1px;
      left: 0;
    }

    &::before {
      display: none;
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 9px;
      height: 9px;
      background-color: $blue;
      border-radius: 1px;
      opacity: 1;

      @include mobile {
        left: 2px;
        top: 2px;
      }
    }
  }

  input[type="checkbox"]:checked + .checkbox__indicator::before {
    display: block;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;

    max-width: 490px;
    padding-left: 50px;

    cursor: pointer;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      font-size: 10px;
      line-height: 16px;

      padding-left: 26px;
      max-width: 100%;
    }
  }
}


