.page-footer__modal-wrap {
  padding: 2px 0 0 13px;
  order: 2;
  z-index: 1;

  @media (max-width: 1490px) {
    order: 1;
    width: 100%;
    margin-bottom: 47px;
    padding: 0;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.modal {
  position: relative;
  width: 700px;
  min-height: 700px;
  padding: 41px 95px 20px;

  background-color: $white;

  @media (max-width: 1490px) {
    margin: 0 auto;
  }

  @media (max-width: 860px) {
    max-width: 100%;
  }

  @include mobile {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 29px 15px 29px;
  }


  label {
    display: block;
    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.005em;
    opacity: 0.8;

    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include mobile {
      font-size: 14px;
      line-height: 14px;

      margin-bottom: 27px;
    }
  }

  label[for="textarea-mobile"] {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 19px;


    text-align: center;

    @include mobile {
      font-size: 36px;
      line-height: 42px;

      margin: 0 0 11px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;

    width: 67%;
    margin: 0 auto 43px;

    text-align: center;

    @media (max-width: 1490px) {
      margin: 0 auto 42px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 22px;

      width: 80%;
      margin-bottom: 26px;
    }
  }

  &__form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
      display: block;
      margin-bottom: 22px;

      p {
        margin-bottom: 23px;
      }
    }

    label {
      width: 45%;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__upload-success {
    position: relative;
    display: none;
    padding-left: 36px;

    font-size: 16px;
    line-height: 16px;

    letter-spacing: 0.005em;

    opacity: 0.8;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      width: 22px;
      height: 22px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__objects {
    display: flex;
    margin: -10px 0 0 0;

    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.005em;

    opacity: 0.8;

    p {
      margin-right: 10px;
    }

    input {
      display: none;
    }

    label {
      text-decoration-line: underline;
      cursor: pointer;
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__types {
    display: flex;
    margin-left: 25px;

    label {
      color: inherit;
      transition: color $transition-props;

      &:hover {
        color: $blue;
      }
    }


    @include mobile {
      flex-wrap: wrap;
    }
  }


  &__attachment {
    display: block;
    position: relative;
    padding-left: 36px;
    transition: opacity $transition-props;
    cursor: pointer;

    @include mobile {
      margin-top: 29px;
    }

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 21px;
      left: 0;
      top: -3px;

      background-image: url("../img/icon-cloud.svg");
      background-repeat: no-repeat;
    }
  }

  label[id="file-name"] {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid $dark;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: -30px;
    //   display: block;
    //   width: 17px;
    //   height: 17px;
    //   background-color: red;
    //   // border-bottom: 1px solid $dark;
    // }

    // span {
    //   display: none;
    //   position: absolute;
    //   top: 0;
    //   left: -30px;
    //   width: 17px;
    //   height: 17px;
    //   background-color: red;
    // }
  }

  &--inst,
  &--calc {
    padding: 50px 95px 20px;

    @include mobile {
      padding: 50px 15px 20px;
    }

    h2 {
      font-size: 36px;
      line-height: 42px;

      max-width: 93%;
      margin: 0 auto 37px;
    }
  }

  &--inst {
    padding: 50px 95px 34px;

    @include mobile {
      padding: 50px 15px 20px;
    }
  }

  form {
    p {
      margin: 0;
    }

    input {
      font-size: 15px;
      line-height: 15px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: $dark;

      width: 100%;
      height: 38px;
      padding: 0;

      border: none;
      border-bottom: 1px solid rgba(50, 59, 71, 0.6);
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      // cursor: pointer;
      // transition: opacity $transition-props;

      &::placeholder {
        display: block;
        margin-bottom: 5px;
      }

      // &:hover {
      //   opacity: 0.7;
      // }

      @include mobile {
        height: 36px;
      }
    }

    textarea {
      font-size: 15px;
      line-height: 15px;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: $dark;

      width: 100%;
      min-height: 110px;
      margin-top: -3px;
      margin-bottom: 10px;
      padding: 11px 17px;
      border: 1px solid rgba(50, 59, 71, 0.6);
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      resize: none;

      @include mobile {
        display: none;
      }
    }

    button {
      font-size: 15px;
      line-height: 57px;
      font-weight: 500;
      display: block;
      margin: 40px auto 23px;
      width: 319px;
      min-height: 57px;

      text-transform: uppercase;
      outline: none;
      transition: opacity $transition-props;

      &:hover {
        opacity: 0.7;
      }

      @include mobile {
        width: 100%;
        margin: 45px auto 21px;
      }
    }
  }


  &__close-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    svg {
      fill: #7b7b7b;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;

  &__indicator {
    position: absolute;
    top: 4px;
    left: 24px;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid $blue;
    border-radius: 1px;

    @include mobile {
      top: 1px;
      left: 0;
    }

    &::before {
      display: none;
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 9px;
      height: 9px;
      background-color: $blue;
      border-radius: 1px;
      opacity: 1;

      @include mobile {
        left: 2px;
        top: 2px;
      }
    }
  }

  input[type="checkbox"]:checked + .checkbox__indicator::before {
    display: block;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;

    max-width: 490px;
    padding-left: 50px;

    cursor: pointer;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      font-size: 10px;
      line-height: 16px;

      padding-left: 26px;
      max-width: 100%;
    }
  }
}

.popup {
  display: none;

  &--opened {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
