.page-footer__modal-wrap {
  margin: 3px 0 0 17px;

  order: 2;
  z-index: 1;

  @media (max-width: 1400px) {
    order: 1;
    width: 100%;
    margin: -86px 0 60px;
  }

  @include mobile {
    margin: 0 0 20px;
  }
}

.page-footer__modal {
  width: 700px;
  min-height: 700px;
  padding: 41px 95px 0;

  background-color: $white;

  @media (max-width: 1400px) {
    margin: 0 auto;
  }

  @include mobile {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 29px 15px 79px;
  }

  label {
    // position: absolute;
    // font-weight: 500;
    font-size: 15px;
    line-height: 14px;

    letter-spacing: 0.02em;
    opacity: 0.8;

    margin-bottom: 40px;

    @include mobile {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.modal {
  &__title {
    font-size: 52px;
    line-height: 61px;
    font-weight: 400;
    letter-spacing: -0.01em;

    margin: 0;
    margin-bottom: 13px;


    text-align: center;

    @include mobile {
      font-size: 36px;
      line-height: 42px;

      margin: 0 0 11px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;

    width: 67%;
    margin: 0 auto 43px;

    text-align: center;

    @include mobile {
      font-size: 14px;
      line-height: 22px;

      width: 73%;
      margin-bottom: 24px;
    }
  }

  &__form-row {
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: block;
      margin-bottom: 22px;

      p {
        margin-bottom: 23px;
      }
    }

    label {
      width: 45%;
    }
  }

  &__textarea-mobile {
    display: none;

    @include mobile {
      display: block;
      margin: 23px 0 28px 0;
    }
  }

  &__attachment {
    label {
      display: block;
      position: relative;
      padding-left: 36px;
      transition: opacity $transition-props;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 21px;
        left: 0;
        top: -3px;

        background-image: url("../img/icon-cloud.svg");
        background-repeat: no-repeat;
      }
    }
  }


  button {
    font-size: 15px;
    line-height: 57px;
    font-weight: 500;
    display: block;
    margin: 40px auto 23px;
    width: 319px;
    height: 57px;

    text-transform: uppercase;
    outline: none;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      width: 100%;
      margin: 45px auto 21px;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;

  &__indicator {
    position: absolute;
    top: 4px;
    left: 24px;
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid $blue;
    border-radius: 1px;

    &::before {
      display: none;
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 9px;
      height: 9px;
      background-color: $blue;
      border-radius: 1px;
      opacity: 1;

      @include mobile {
        left: 4px;
        top: 6px;
      }
    }
  }

  input[type="checkbox"]:checked + .checkbox__indicator::before {
    display: block;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;

    max-width: 490px;
    padding-left: 50px;

    cursor: pointer;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      font-size: 10px;
      line-height: 16px;

      padding-left: 26px;
      max-width: 92%;
    }
  }
}

form {
  p {
    margin: 0;
  }

  input {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgba(50, 59, 71, 0.8);

    width: 100%;
    // min-width: 230px;
    height: 38px;
    padding: 0;

    border: none;
    border-bottom: 1px solid rgba(50, 59, 71, 0.6);
    outline: none;
    cursor: pointer;
    transition: opacity $transition-props;

    &::placeholder {
      display: block;
      margin-bottom: 5px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  textarea {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgba(50, 59, 71, 0.8);

    width: 100%;
    min-height: 110px;
    margin-top: 37px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid rgba(50, 59, 71, 0.6);
    outline: none;
    cursor: pointer;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      display: none;
    }
  }
}
