.opportunities {
  padding: 65px 0 56px;
  background-color: $blue;
  color: $white;

  @media (max-width: 1024px)  {
    padding: 2px 0 70px;
    background-color: $white;
    color: $dark;
  }

  @include mobile {
    padding: 0 0 50px;
  }

  h2 {
    padding: 0;
    margin: 0 0 70px;
    font-size: 48px;
    line-height: 56px;
    font-weight: normal;

    @include mobile {
      padding-right: 40px;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 0.017em;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }
}

.opportunities__slider {
  @media (max-width: 1024px)  {
    padding-bottom: 40px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $blue;
    opacity: 0.3;

    &-active {
      opacity: 1;
    }
  }
}

.opportunities__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1024px)  {
    flex-wrap: nowrap;
  }
}

.opportunities__item {
  margin-bottom: 50px;
  width: 25.6%;

  @media (max-width: 1024px)  {
    width: 100%;
    margin-bottom: 0;
  }

  &:not(:nth-of-type(3n + 1)) {
    margin-left: 8.8%;

    @media (max-width: 1024px)  {
      margin-left: 0;
    }
  }
}

.opportunities__item-title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 48px;


  @media (max-width: 1024px)  {
    font-size: 1.56vw;
    letter-spacing: 0.009em;
    margin-bottom: 33px;
  }

  @include mobile {
    font-size: 20px;
    line-height: 30px;
  }

  h3 {
    width: 78%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;

    @media (max-width: 1024px)  {
      br {
        display: none;
      }
    }
  }

  &::after {
    opacity: 0.9;
    position: absolute;
    content: "";
    background-color: $white;
    width: 100%;
    max-width: 360px;
    height: 2px;
    left: 0;
    bottom: -24px;

    @media (max-width: 1024px)  {
      background-color: $blue;
      height: 2px;
      bottom: -13px;
      max-width: 100%;
    }

    @include mobile {
      width: 100%;
      height: 2px;
      bottom: -9px;
    }
  }
}

.opportunities__item-img {
  align-self: flex-start;
  fill: $white;
  margin-right: 20px;
  min-width: 70px;
  max-width: 70px;

  @media (max-width: 1024px)  {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    fill: $blue;
  }

  @include mobile {
    margin-right: 21px;
  }
}

.opportunities__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.012em;

  @media (max-width: 1024px)  {
    letter-spacing: 0.005em;
    padding-right: 15px;
  }

  @include mobile {
    font-size: 12px;
    line-height: 20px;
  }
}

.opportunities__item-pagination {
  @media (max-width: 1024px)  {
    bottom: 0;
  }
}
