.page-header {
  position: relative;

  font-family: $font;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $dark;

  @include mobile {
    // overflow-x: hidden;
  }
}

.page-header__container {
  display: flex;
  padding-top: 31px;

  @include mobile {
    align-items: flex-start;
    padding-top: 41px;
    padding-bottom: 30px;
  }
}

.page-header__logo {
  flex-shrink: 0;
  width: 107px;
  height: 83px;
  margin-right: auto;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include tablet {
    width: 90px;
    height: 70px;
    // margin-right: 157px;
  }

  @include mobile {
    width: 60px;
    height: 47px;
  }
}

.page-header__controls {
  display: none;

  @include mobile {
    display: flex;
    align-items: center;
  }
}

.page-header__mobile-tel {
  outline: none;

  &:hover svg,
  &:focus svg {
    fill: $dark;
  }

  svg {
    fill: $blue;

    transition: all $transition-props;
  }
}

.page-header__btn-open {
  margin-left: 23px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover svg,
  &:focus svg {
    fill: $blue;
  }

  svg {
    display: block;
    fill: $dark;

    transition: all $transition-props;
  }
}

.page-header__menu-wrapper {
  @include mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 0;
    height: 100vh;
    padding: 40px 0;

    background-color: $blue;
    overflow: hidden;

    transition: all $transition-props;

    &--open {
      width: 100%;
      padding: 40px 15px;
    }
  }
}

.page-header__mobile {
  display: none;

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 38px;
  }
}

.page-header__mobile-logo {

}

.page-header__btn-close {
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  svg {
    display: block;

    fill: $white;

    transition: all $transition-props;
  }

  &:hover,
  &:focus {
    svg {
      fill: $dark;
    }
  }
}

.page-header__center-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin-right: 30px;
  margin-left: 64px;

  @include tablet {
    max-width: 673px;
    margin-left: 20px;
    // margin-left: 0;
  }

  @include mobile {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 36px;
    margin-left: 0;
  }
}

.page-header__menu {
  ul {
    @include list-reset();

    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $dark;
    letter-spacing: 0.02em;

    transition: all $transition-props;
    outline: none;

    &:hover,
    &:focus {
      color: $blue;
    }
  }

  @include tablet {
    li {
      margin-right: 40px;
    }
  }

  @include mobile {
    ul {
      flex-direction: column;
    }

    li {
      margin-right: 0;
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 24px;
      line-height: 28px;
      color: $white;

      &:hover,
      &:focus {
        color: $dark;
      }
    }
  }
}

.page-header__search {
  form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 7px;

    border-bottom: 1px solid $white;
  }

  svg {
    display: block;
    margin-right: 10px;

    fill: $dark;

    transition: all $transition-props;
  }

  input {
    height: auto;
    padding: 0;

    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: $dark;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    cursor: auto;

    &:invalid + svg {
      fill: $white;
    }

    &:hover + svg,
    &:focus + svg,
    &:valid + svg {
      fill: $dark;
    }
  }

  @include tablet {
    svg {
      width: 17px;
      height: 17px;
    }
  }

  @include mobile {
    order: -1;
    margin-bottom: 27px;

    svg {
      fill: $white;
    }
  }
}

.page-header__right-wrapper {
  flex-shrink: 0;
  width: 210px;
  margin-left: auto;

  @include tablet {
    width: 155px;
    margin-left: 0;
  }

  @include mobile {
    margin-bottom: 36px;
  }
}

.page-header__contact {
  @include list-reset();

  margin-bottom: 18px;

  li {
    margin-bottom: 11px;
  }

  a {
    display: flex;

    color: $dark;
    letter-spacing: 0.02em;

    transition: all $transition-props;
    outline: none;
  }

  svg {
    display: block;
    margin-right: 6px;

    fill: $blue;

    transition: all $transition-props;
  }

  @include tablet {
    a {
      font-size: 14px;
      line-height: 16px;
    }

    svg {
      margin-right: 4px;
    }
  }

  @include mobile {
    margin-bottom: 0;

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $dark;
      }

      &:hover svg,
      &:focus svg {
        fill: $dark;
      }
    }

    svg {
      fill: $white;
    }
  }
}

.page-header__slogan {
  font-size: 14px;
  color: $lighter-grey;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin-right: 5px;
  }

  @include tablet {
    img {
      margin-right: 6px;
    }
  }

  @include mobile {
    display: none;
  }
}

.page-header__social {
  display: none;

  @include mobile {
    display: block;

    ul {
      @include list-reset();

      display: flex;
    }

    li {
      margin-right: 27px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      outline: none;

      &:hover svg,
      &:focus svg {
        fill: $dark;
      }
    }

    svg {
      display: block;

      fill: $white;

      transition: all $transition-props;
    }
  }
}
