.quality-promo {
  padding-top: 14px;
  background: url("../img/quality/promo.jpg") no-repeat content-box 0 138px;
  background-size: 57.05%;

  @include tablet {
    background: url("../img/quality/promo-tablet.jpg") no-repeat content-box 0 126px;
    background-size: 42.8%;
  }

  @include mobile {
    padding-top: 1px;
    background: url("../img/quality/promo-mobile.jpg") no-repeat content-box 0 89px;
    background-size: 100%;
  }

  h1 {
    padding-left: 2px;

    @include tablet {
      padding-left: 0;
    }

    @include mobile {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.005em;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.025em;
    color: $dark;

    @include mobile {
      font-size: 14px;
    }
  }
}

.quality-promo__description {
  padding: 14.4% 42px 137px 68.7%;

  @include tablet {
    padding: 73px 20px 137px 51.3%;
  }

  @include mobile {
    padding: 96.9% 0 58px 0;
  }
}

.quality-promo__text {
  margin: 0;
  padding-top: 28px;
  font-size: 24px;
  line-height: 36px;
  color: $dark;

  @include tablet {
    padding-top: 36px;
  }

  @include mobile {
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
  }
}
