.specifications {
  &__point {
    position: relative;
    display: block;

    &::before {
      position: absolute;
      content: "";

      top: -10px;
      left: -1px;

      width: 18px;
      height: 18px;
      background-color: $blue;
      border-radius: 50%;

      @include tablet {
        top: -9px;
        left: 1px;
      }
    }

    &--grey {
      &::before {
        background-color: #dedede;
      }
    }
  }

  table {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 23px;

    letter-spacing: 0.005em;
    border-spacing: 0;
  }

  tr {
    &:first-of-type {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;

      letter-spacing: 0.005em;

      color: $white;
      background-color: #39baf0;
    }


    &:last-of-type {
      td {
        height: 79px;

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }
  }

  th {
    padding: 33px 0;
    border-style: hidden;
    text-align: left;

    &:first-of-type {
      width: 5.6%;
      background-color: $blue;

      @include tablet {
        width: 0;
      }
    }

    &:nth-of-type(2) {
      width: 40.8%;
      padding-left: 50px;

      @include tablet {
        width: 43%;
        padding-left: 93px;
      }
    }

    &:nth-of-type(3) {
      width: 5.2%;

      @include tablet {
        width: 8.3%;
      }
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 17.2%;
    }


    &:last-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
      }
    }
  }

  td {
    padding: 0;
    height: 90px;
    border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);


    &:first-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
      }
    }

    &:nth-of-type(2) {
      font-size: 18px;
      line-height: 28px;

      width: 40.8%;
      padding-left: 50px;
      padding-right: 68px;

      @include tablet {
        font-size: 16px;
        line-height: 20px;

        width: 43%;
        padding: 18px 76px 18px 0;
      }

      @include mobile {
        font-size: 11px;
        line-height: 14px;
      }
    }

    &:nth-of-type(3) {
      width: 5.2%;

      @include tablet {
        width: 8.3%;
      }
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 17.2%;
    }

    &:last-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
        border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);
      }
    }
  }


  .specifications__note {
    display: flex;
    align-items: center;

    span {
      position: relative;
      font-size: 14px;
      line-height: 20px;

      margin-right: 42px;

      @include tablet {
        margin-right: 25px;
        padding-left: 21px;
      }


      &::before {
        top: -2px;
        left: -22px;
        width: 14px;
        height: 14px;

        @include tablet {
          top: 1px;
          left: 0;
        }
      }
    }
  }
}
