.specifications {
  @include mobile {
    display: none;
  }
}


.mobile {
  @include mobile {

    position: relative;
    margin: 0 -15px;

    .table__note {
      span {
        margin-right: 17px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .table__point {
        margin-right: 6px;
      }
    }

    .table__point {
      margin-right: 17px;

      width: 10px;
      height: 10px;
    }

    table {
      margin-top: 7px;
    }
  }
}


.table {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;

  letter-spacing: 0.005em;
  border-spacing: 0;

  @include tablet {
    margin-bottom: 16px;
  }

  @include mobile {
    display: none;
    font-size: 11px;
    line-height: 14px;
  }

  thead {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;

    letter-spacing: 0.005em;

    color: $white;
    background-color: #39baf0;

    tr {
      background-color: #39baf0;
    }

    @include tablet-inner {
      font-size: 20px;
    }

    @include mobile {
      font-size: 14px;
      letter-spacing: 0.005em;
    }
  }

  tr {
    &:last-of-type {
      td {
        height: 79px;

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }
  }


  th {
    font-weight: 500;
    border-style: hidden;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;

    &:not(:last-of-type) {
      padding-right: 10px;
    }

    @include tablet-inner {
      height: 80px;
    }


    @include mobile {
      font-weight: 400;
      padding: 10px 0 28px;
      height: 100px;
    }

    &:first-of-type {
      width: 5.6%;
      background-color: $blue;

      @include tablet {
        width: 0;
      }
    }

    &:nth-of-type(2) {
      width: 40.8%;
      padding-left: 50px;

      @include tablet {
        width: 43%;
        padding-left: 93px;
      }

      @media (max-width: 1100px) {
        padding-left: 10px;
      }
    }

    &:nth-of-type(3) {
      width: 5.2%;

      @include tablet {
        width: 8.3%;
      }

      @include mobile {
        width: 9%;
      }
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 17.2%;

      @media (max-width: 1100px) {
        width: 16.3%;
      }
    }


    &:last-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
      }
    }
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90px;
    border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);

    &:not(:last-of-type) {
      padding-right: 10px;
    }

    &:first-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
      }
    }

    &:nth-of-type(2) {
      font-size: 18px;
      line-height: 28px;

      width: 40.8%;
      padding-left: 50px;
      padding-right: 68px;

      @include tablet {
        font-size: 16px;
        line-height: 20px;

        width: 43%;
        padding: 18px 76px 18px 0;
      }

      @include mobile {
        font-size: 11px;
        line-height: 14px;
      }
    }

    &:nth-of-type(3) {
      width: 5.2%;

      @include tablet {
        width: 8.3%;
      }
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 17.2%;

      @media (max-width: 1100px) {
        width: 16.3%;
      }
    }

    &:last-of-type {
      width: 5.6%;
      border: none;

      @include tablet {
        width: 0;
        border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);
      }
    }
  }

  .table__note {
    display: flex;
    align-items: center;
    width: 100%;

    @include tablet {
      margin-left: 0;
    }

    span {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      margin-right: 26px;
    }

    .table__point {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &__point {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-color: $blue;
    border-radius: 50%;

    &--none {
      background-color: #dedede;
    }
  }

  &__subtitle {
    color: $blue;
  }
}

div[id="myTable_Header"],
div[id="myTable_Content"] {
  display: none;

  @include mobile {
    display: block;
  }
}
