.technique__summary {
  padding: 28px 30px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 28px;

  @include mobile {
    padding: 15px;
    flex-direction: column;
  }

  &--short {
    @include mobile {
      padding: 15px;
    }
  }
}

.technique__summary-img {
  width: 56.4%;

  @include tablet {
    width: 52.4%;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 16px;
  }
}

.technique__description {
  width: 40%;
  padding: 18px 0 0 65px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    width: 49.6%;
    padding: 18px 0 0 5%;
  }

  @include mobile {
    padding: 0;
    flex-grow: 1;
    width: 100%;
    min-height: 180px;
  }

  @media (max-width: 350px) {
    min-height: 273px;
  }

  &--short {
    @include mobile {
      min-height: 180px;
    }

    @media (max-width: 350px) {
      min-height: 260px;
    }
  }
}

.technique__count {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 55px;

  @include tablet {
    margin-bottom: 5.3vw;
    font-size: 2.8vw;
  }

  @media (max-width: 1260px) {
    margin-bottom: 1vw;
  }

  @include mobile {
    display: none;
  }
}

.technique__title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  @include tablet {
    font-size: 2.81vw;
    line-height: 118%;
  }

  @include mobile {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.008em;
  }

  span {
    @include tablet {
      display: none;
    }
  }
}

.technique__description-text {
  padding: 36px 11% 20px 0;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: $dark-grey;

  @media (max-width: 1279px) {
    font-size: 1.4vw;
    line-height: 156%;
  }

  @include mobile {
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
  }
}

.technique__btn {
  width: 139px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin: auto 0 6px;
  padding: 0;
  border: none;
  background: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  line-height: 147.3%;
  letter-spacing: 0.02em;
  transition: all 0.2s ease;

  @include mobile {
    margin-bottom: 13px;
  }

  &::before {
    position: absolute;
    content: "";
    transition: all 0.5s ease;
    top: 7px;
    right: 0;
    width: 13px;
    height: 9px;
    background: $white url("../img/quality/arrow-down.svg") 50% 50%/cover no-repeat;
    user-select: none;
  }

  &::after {
    position: absolute;
    width: 100%;
    content: "";
    border-bottom: 2px solid rgba(57, 186, 240, 0.8);
    bottom: -7px;
    left: 0;

    @include mobile {
      bottom: -8px
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;

    &::before {
      opacity: 0.6;
    }
  }

  &--show {
    &::before {
      transform-origin: center center;
      transform: rotate(180deg);
    }
  }

  &--long {
    width: 167px;

    &::before {
      top: 5px;
    }
  }
}

.technique__dropdown {
  max-height: 0;
  transition: all ease-in .5s;
}

.technique__details {
  display: flex;
  align-items: flex-start;
  padding: 79px 19% 57px 140px;

  @include tablet {
    padding: 73px 9% 57px 96px;
  }

  @include mobile {
    display: block;
    padding: 24px 15px 15px;
  }

  &--open {
    height: auto;
  }
}

.technique__img {
  width: 29.5%;
  margin-right: 100px;

  @include tablet {
    width: 25.7%;
    margin-right: 54px;
  }

  @include mobile {
    display: none;
  }

  img {
    width: 280px;
    margin-bottom: 20px;
  }
}

.technique__summary-picture {
  display: block;
  margin-bottom: 14px;

  @include tablet {
    margin-bottom: 22px;
  }
}

.technique__img-title {
  margin: 0 0 3px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;

  @include tablet {
    margin-bottom: 4px;
  }
}

.technique__img-text {
  max-width: 228px;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: $light-grey;
}

.technique__details-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: -0.3em;

  @include mobile {
    width: 100%;

  }
}

.technique__details-item {
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 23px;
  }

  @include mobile {
    margin-bottom: 19px;
  }

  h3 {
    margin: 0 0 27px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;

    @include tablet {
      margin: 6px 0 17px 0;
    }

    @include mobile {
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.02em;
    }
  }

  p {
    padding: 0;
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;

    @include mobile {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.technique__details-container {
  margin: auto 0 8px;

  @include mobile {
    margin: 3px 0 8px;
  }
}

.technique__details-link {
  padding-right: 57px;
}
