.ventilation {
  background-color: $bg-color;
  padding: 143px 0 160px;

  @include tablet {
    padding-top: 96px;
  }

  @include mobile {
    padding-top: 53px;
    padding-bottom: 35px;
  }

  &--narrow {
    padding: 80px 0 88px;

    @include tablet {
      padding-top: 74px;
    }
  }

  h2 {
    padding: 0;
    margin: 0 auto 83px;
    font-size: 64px;
    line-height: 74px;
    font-weight: normal;
    text-align: center;

    @include tablet {
      margin-bottom: 76px;
      font-size: 48px;
      line-height: 56px;
    }

    @include mobile {
      margin-bottom: 27px;
      text-align: left;
      padding-right: 10px;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.02em;
    }
  }
}

.ventilation__item {
  overflow: hidden;
  background-color: $white;
  margin-bottom: 60px;

  &--wide {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  @include mobile {
    margin-bottom: 40px;
  }
}
