.ventilation-intro {
  padding-top: 36px;
  padding-bottom: 73px;

  @include tablet {
    padding-top: 39px;
    padding-bottom: 78px;
  }

  @include mobile {
    position: relative;
    padding-top: 48px;
    padding-bottom: 109px;
  }
}

.ventilation-intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 257px;
  padding-right: 13%;

  @include tablet {
    padding-right: 9.9%;
    min-height: 235px;
  }

  @include mobile {
    display: block;
    padding-right: 0;
  }

  h1 {
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
    color: #323B47;

    @media(max-width: 1800px) {
      font-size: 3.2vw;
    }

    @include tablet {
      font-size: 48px;
      line-height: 56px;
    }

    @media (max-width: 1279px) {
      font-size: 3.74vw;
    }

    @include mobile {
      width: 100%;
      font-size: 28px;
      line-height: 121%;
      letter-spacing: -0.01em;
    }

    span {
      padding-left: 152px;
      padding-right: 50px;

      @include tablet {
        padding-left: 24.6%;
      }

      @include mobile {
        padding-left: 0;
      }
    }
  }
}

.ventilation-intro__column {
  width: 31%;
  align-self: flex-end;

  @include tablet {
    width: 43%;
  }

  @include mobile {
    width: 100%;
  }

  &:first-of-type {
    width: 50%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      width: 56%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.ventilation-intro__inner {
  @include mobile {
    width: 100%;
  }
}

.ventilation-intro__link {
  padding-right: 62px;

  @include tablet {
    padding-right: 40px;
  }

  &--qmark {
    padding-right: 40px;

    @include mobile {
      display: none;
    }

    &::after {
      background: none;
      content: "?";
      color: $blue;
      font-size: 17px;
      top: 8px;
      right: -16px;
      transition: all 0.2s ease;

      @include tablet {
        top: 8;
      }
    }

    &:hover {
      &::after {
        background: none;
        color: $dark;
      }
    }
  }

  &--tablet {
    display: none;

    @include tablet {
      display: inline;
    }

    @include mobile {
      position: absolute;
      bottom: 73px;
    }
  }

  &--desktop {
    margin-left: 140px;

    @include tablet {
      display: none;
    }
  }
}

.ventilation-intro__description {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;

  // @media(max-width: 1800px) {
  //   font-size: 1.27vw;
  // }

  @include tablet {
    font-size: 24px;
  }

  @media (max-width: 1279px) {
    font-size: 1.88vw;
  }

  @include mobile {
    width: 100%;
    padding: 22px 19px 10px 0px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.005em;
  }
}
