.ventilation-intro {
  padding-top: 51px;
  padding-bottom: 65px;

  @include tablet {
    padding-top: 53px;
    padding-bottom: 70px;
  }

  @include mobile {
    padding-top: 37px;
    padding-bottom: 77px;
  }
}

.ventilation-intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    display: block;
  }

  h1 {
    width: 50%;
    margin: 0;
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
    color: #323B47;

    @media(max-width: 1800px) {
      font-size: 3.2vw;
    }

    @include tablet {
      font-size: 48px;
      line-height: 56px;
    }

    @media (max-width: 1279px) {
      font-size: 3.74vw;
    }

    @include mobile {
      width: 100%;
      font-size: 28px;
      line-height: 121%;
      letter-spacing: -0.01em;
    }

    span {
      padding-left: 152px;
      padding-right: 50px;

      @include tablet {
        padding-left: 24.6%;
      }

      @include mobile {
        padding-left: 0;
      }
    }
  }
}

.ventilation-intro__inner {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.ventilation-intro__link {
  display: inline-block;
  padding: 0 62px 6px 0;

  @include tablet {
    margin: 3px 0 0 0px;
  }

  &::after {
    width: 31px;
    height: 15px;
    top: 3px;
    right: -3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &--qmark {
    display: inline-block;
    padding: 0 41px 6px 0;
    margin: 0;
    margin-left: 165px;

    @include tablet {
      margin-left: 15px;
      padding: 0 40px 5px 0;
    }

    @include mobile {
      display: none;
    }

    &::after {
      background: none;
      content: "?";
      color: $blue;
      font-size: 17px;
      top: 0;
      right: -23px;
    }

    &:hover {
      opacity: 0.7;

      &::after {
        background: none;
        color: $dark;
      }
    }
  }

  &--tablet {
    display: none;

    @include tablet {
      display: inline-block;
      padding: 0px 38px 6px 0;
    }

    &::after {
      width: 27px;
      height: 12px;
      top: 17px;

      @include tablet {
        height: 13px;
        top: 4px;
      }
    }
  }

  &--desktop {
    margin-left: 140px;
    @include tablet {
      display: none;
    }
  }
}

.ventilation-intro__description {
  width: 50%;
  padding: 79px 12% 10px 165px;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.8;

  @media(max-width: 1800px) {
    font-size: 1.27vw;
  }

  @include tablet {
    padding: 57px 8% 10px 15px;
    font-size: 24px;
  }

  @media (max-width: 1279px) {
    font-size: 1.88vw;
  }

  @include mobile {
    width: 100%;
    padding: 22px 19px 10px 0px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.005em;
  }
}
