.btn {
  font-size: 14px;
  line-height: 20px;

  border: none;
  margin: 0;
  padding: 0;
  width: auto;

  color: $white;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: $blue;
  border-radius: 3px;
}
