.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 145px;
  margin: 0 auto;

  @include tablet {
    padding: 0 85px;
  }

  @include mobile {
    padding: 0 15px;
  }

  &--padding-right {
    padding: 0 120px 0 145px;

    @include tablet {
      padding: 0 85px;
    }

    @include mobile {
      padding: 0 15px;
    }
  }

  &--inner {
    padding: 0 10.2% 0 20.1%;

    @include tablet {
      padding: 0 85px;
    }

    @include mobile {
      padding: 0 15px;
    }
  }
}

.margin-85 {
  .container {
    max-width: 1920px;
    width: 100%;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;

    @include mobile {
      padding: 0 15px;
    }
  }
}


.margin-40 {
  .container {
    max-width: 1920px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;

    @include mobile {
      padding: 0 15px;
    }
  }
}
