.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 145px;
  margin: 0 auto;

  @include tablet {
    padding: 0 85px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.container-85 {
  max-width: 1920px;
  width: 100%;
  padding: 0 85px;
  margin: 0 auto;

  @include mobile {
    padding: 0 15px;
  }
}


.container-40 {
  max-width: 1920px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;

  @include mobile {
    padding: 0 15px;
  }
}
