* {
  box-sizing: border-box;

  // ::-moz-selection {
  //   color: $white;
  //   background: $red;
  // }

  // ::selection {
  //   color: $white;
  //   background: $red;
  // }
}

html {
  height: 100%;
}

body {
  font-family: $font;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  color: $dark;
}

.body {
  &--under-popup {
    position: relative;
    // height: 100vh;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba($color: #ffffff, $alpha: 0.8);
      background-color: rgba($color: #e5e5e5, $alpha: 0.7);
      z-index: 2;
    }
  }
}

.header,
.footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

video {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
