.link-blue-underlined {
  position: relative;
  padding: 9px 44px 9px 0;

  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  border-bottom: 2px solid rgba(57, 186, 240, 0.8);
  cursor: pointer;
  transition: opacity $transition-props;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 24px;
    height: 12px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.2s ease;

    @include tablet {
      width: 23px;
      height: 11px;

      top: 14px;
    }
  }

  &:hover {
    &::after {
      background-image: url("../img/icon-arrow-blue.svg");
      background-size: contain;
    }
  }

  &--about {
    padding-right: 77px;
  }

}
