$tablet-width: 1280px;
$mobile-width: 767px;

$tablet-1200px: 1200px;
$tablet-inner: 992px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$font: "Suisse Intl", "Arial", sans-serif;

$transition-props: 0.2s ease;

$dark: #323b47;
$white: #ffffff;
$dark-grey: #55606f;
$light-grey: #7c8592;
$lighter-grey: #a4aab1;
$blue: #39baf0;
$blue-hover: #66d0fd;
$blue-active: #08b5fe;
$bg-color: #f5f7f9;
$border-color: rgba(50, 59, 71, 0.15);
