$tablet-width: 1279px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$font: "Suisse Intl", "Arial", sans-serif;

$transition-props: 0.2s ease;

$dark: #323b47;
$white: #ffffff;
$dark-grey: #55606f;
$light-grey: #7c8592;
$blue: #39baf0;
$bg-color: #f5f7f9;
