$desktop-l: 1439px;
$desktop-m: 1023px;
$tablet-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Kumbh Sans", "Arial", sans-serif;

$transition-props: 0.2s ease;

$dark: #2e3349;
$white: #ffffff;
$grey: #6b7082;
$bg-color: #19A1ae;

