
BODY {
    height: 100%;
    margin: 10px;
}
.GridViewScrollHeader {
  background-color: #39BAF0;
}

.GridViewScrollHeader TH {
  padding: 20px 0 48px 15px;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  vertical-align: bottom;
  border-spacing: 0;

  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  background-color: #39BAF0;
}

.GridViewScrollHeader TH:nth-of-type(2) {
  padding-left: 0;
}

.GridViewScrollItemFreeze:last-child td div {
  display: flex;
}

.GridViewScrollItem td:nth-of-type(2) {
  padding-left: 0;
}

.GridViewScrollItem td:last-of-type::after {
  width: calc(100% - 15px);
}

.GridViewScrollItem TD {
  position: relative;
  padding: 16px 0 16px 15px;
  white-space: nowrap;
  background-color: #FFFFFF;

  font-size: 11px;
  line-height: 14px;
  color: #323B47;
}

.GridViewScrollItem TD::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);
}

.GridViewScrollItemFreeze TD {
  position: relative;
  padding: 16px 0 16px 15px;
  white-space: nowrap;

  background-color: #FFFFFF;

  font-size: 11px;
  line-height: 14px;
  color: #323B47;
}

.GridViewScrollItemFreeze TD::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba($color: #323b47, $alpha: 0.2);
}

